{include file="common/header"}
<article> 
  <!--banner begin-->
 <div class="picsbox"> 
  <div class="banner">
    <div id="banner" class="fader">
      {volist name="articleView" id="vo" offset="0" length='3'}
      <li class="slide" ><a href="{:url('article/article','a_id='.$vo['a_id'])}" target="_blank"><img src="__RESOURCE__{$vo.a_img}"><span class="imginfo">{$vo.a_title}</span></a></li>
      {/volist}
      <div class="fader_controls">
        <div class="page prev" data-target="prev">&lsaquo;</div>
        <div class="page next" data-target="next">&rsaquo;</div>
        <ul class="pager_list">
        </ul>
      </div>
    </div>
  </div>
  <!--banner end-->
  <div class="toppic">
    {volist name="articleView" id="vo" offset="3" length='2'}
    <li> <a href="{:url('article/article','a_id='.$vo['a_id'])}" target="_blank"> <i><img src="__RESOURCE__{$vo.a_img}"></i>
      <h2>{$vo.a_title}</h2>
      <span>{$vo.c_name}</span> </a> </li>
    {/volist}
  </div>
  </div>
  <div class="blank"></div>
  <!--blogsbox begin-->
  <div class="blogsbox">
    {volist name="article" id="vo"}
    {if condition="$i%3!=0 AND count($vo.contentImg)>2"}
    <!-- 模板3 三图+文字 -->
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{:url('article/article','a_id='.$vo['a_id'])}" target="_blank">{$vo.a_title}</a></h3>
      <span class="bplist"><a href="{:url('article/article','a_id='.$vo['a_id'])}" title="">
      <li><img src="__RESOURCE__{$vo.contentImg['0']}" alt=""></li>
      <li><img src="__RESOURCE__{$vo.contentImg['1']}" alt=""></li>
      <li><img src="__RESOURCE__{$vo.contentImg['2']}" alt=""></li>
      </a></span>
      <p class="blogtext">{$vo.a_desc}</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="{:url('author/author','a_author='.$vo['a_author'])}">{$vo.a_author}</a></li>
          <li class="lmname"><a href="{:url('section/section','c_id='.$vo['c_id'])}">{$vo.c_name}</a></li>
          <li class="timer">{$vo.a_time|date='Y-m-d',###}</li>
          <li class="view"><span>{$vo.a_click}</span>&nbsp;已阅读</li>
          <li class="like">{$vo.a_like}</li>
        </ul>
      </div>
    </div>
    <!-- 模板3  -->
    {elseif condition="$i%6!=0 AND count($vo.contentImg)>2" /}
    <!-- 模板1 经典:封面+文字 -->
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{:url('article/article','a_id='.$vo['a_id'])}" target="_blank">{$vo.a_title}</a></h3>  
      <span class="blogpic"><a href="{:url('article/article','a_id='.$vo['a_id'])}" title=""><img src="__RESOURCE__{$vo.a_thumber}" alt=""></a></span>
      <p class="blogtext">{$vo.a_desc}</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="{:url('author/author','a_author='.$vo['a_author'])}">{$vo.a_author}</a></li>
          <li class="lmname"><a href="{:url('section/section','c_id='.$vo['c_id'])}">{$vo.c_name}</a></li>
          <li class="timer">{$vo.a_time|date='Y-m-d',###}</li>
          <li class="view"><span>{$vo.a_click}</span>&nbsp;已阅读</li>
          <li class="like">{$vo.a_like}</li>
        </ul>
      </div>
    </div>
    <!-- 模板1 -->
    {else}
    <!-- 模板4 -->
    <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="{:url('article/article','a_id='.$vo['a_id'])}" target="_blank">{$vo.a_title}</a></h3>
      <span class="bigpic"><a href="{:url('article/article','a_id='.$vo['a_id'])}" title=""><img src="__RESOURCE__{$vo.a_img}" alt=""></a></span>
      <p class="blogtext">{$vo.a_desc}</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="{:url('author/author','a_author='.$vo['a_author'])}">{$vo.a_author}</a></li>
          <li class="lmname"><a href="{:url('section/section','c_id='.$vo['c_id'])}">{$vo.c_name}</a></li>
          <li class="timer">{$vo.a_time|date='Y-m-d',###}</li>
          <li class="view"><span>{$vo.a_click}</span>&nbsp;已阅读</li>
          <li class="like">{$vo.a_like}</li>
        </ul>
      </div>
    </div>
    {/if}
    {/volist}
    
    <!-- 分页开始 -->
    <style type="text/css" media="screen">
      .pagination{text-align:center;margin-top:20px;margin-bottom: 20px;}
      .pagination li{margin:0px 6px; border:1px solid #e6e6e6;padding: 3px 8px;display: inline-block;}
      .pagination .active{background-color: #dd1a20;color: #fff;}
      .pagination .disabled{color:#aaa;}
    </style>
    {$article->render()}
    <!-- 分页结束 -->

  </div>
    <!-- 模板4 -->

    <!-- 模板2 文字 -->
    <!-- <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">帝国cms 首页或者列表页 实现图文不同样式调用方法</a></h3>
      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！...</p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">杨青</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view">4567已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div> -->
    <!-- 模板2 -->
  
    <!-- 模板3 三图+文字 -->
    <!-- <div class="blogs" data-scroll-reveal="enter bottom over 1s" >
      <h3 class="blogtitle"><a href="/" target="_blank">别让这些闹心的套路，毁了你的网页设计!</a></h3>
      <span class="bplist"><a href="/" title="">
      <li><img src="__STATIC__/index/images/avatar.jpg" alt=""></li>
      <li><img src="__STATIC__/index/images/toppic02.jpg" alt=""></li>
      <li><img src="__STATIC__/index/images/banner01.jpg" alt=""></li>
      </a></span>
      <p class="blogtext">如图，要实现上图效果，我采用如下方法：1、首先在数据库模型，增加字段，分别是图片2，图片3。2、增加标签模板，用if，else if 来判断，输出。思路已打开，样式调用就可以多样化啦！... </p>
      <div class="bloginfo">
        <ul>
          <li class="author"><a href="/">杨青</a></li>
          <li class="lmname"><a href="/">学无止境</a></li>
          <li class="timer">2018-5-13</li>
          <li class="view"><span>34567</span>已阅读</li>
          <li class="like">9999</li>
        </ul>
      </div>
    </div> -->
    <!-- 模板3  -->

  <!--blogsbox end-->
{include file="common/right"}
</article>
{include file="common/footer"}