<footer>
		<a target="_blank" href="__RESOURCE__" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">微寸网&nbsp;©&nbsp;2019&nbsp;&nbsp;&nbsp;</p></a>
	    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030602003471" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="__STATIC__/index/images/备案图标.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">粤公网安备 44030602003471号</p></a>
	    <a target="_blank" href="http://www.miitbeian.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">|&nbsp;&nbsp;粤ICP备19018283号</p></a>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>